.categoryTabs {
    margin-top:10px;
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.categoryTab {
    background: #efefef;
    border-radius: 999px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
}

.categoryTab.active {
    background: #111;
    color: white;
    border-color: #111;
}
