.reviewSortSelect {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.reviewSortSelect
select {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
