<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.repository.Orders.OrderMapper">

    <select id="getProductsByIds" resultType="com.review.shop.dto.orders.OrderCheckoutProductInfoDTO">
        SELECT
        p.PRODUCT_ID   AS product_id,
        pi.IMAGE_URL   AS image_url,
        p.PRD_NAME     AS prd_name,
        p.PRICE        AS price
        FROM PRODUCT p
        LEFT JOIN PRODUCT_IMAGE pi ON p.PRODUCT_ID = pi.PRODUCT_ID
        WHERE p.PRODUCT_ID IN
        <foreach collection="product_ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getUserPoint" resultType="integer">
        SELECT POINT
        FROM USER_TABLE
        WHERE USER_ID = #{user_id}
    </select>

    <update id="deductPoints">
        UPDATE USER_TABLE
        SET
            point = point - #{pointsToDeduct}
        WHERE
            user_id = #{user_id}
            AND point >= #{pointsToDeduct}
    </update>

    <insert id="addPointHistory">
        INSERT INTO POINT_HISTORY (
            USER_ID,
            AMOUNT,
            TYPE,
            CREATED_AT,
            DESCRIPTION
        )
        VALUES (
                   #{user_id},
                   #{pointsChanged},
                   'USE',
                   SYSDATE,
                   #{description}
               )
    </insert>

    <select id="getProductStocks" resultType="com.review.shop.dto.product.ProductStockDTO">
        SELECT
        product_id,
        stock,
        prd_name,
        price
        FROM
        PRODUCT
        WHERE
        product_id IN
        <foreach collection="product_ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="deductStock">
        UPDATE PRODUCT SET
            stock = stock - #{quantity}
        WHERE
            product_id = #{product_id}
          AND stock >= #{quantity}
    </update>


    <insert id="insertOrders" parameterType="com.review.shop.dto.orders.OrderSaveDTO"
            useGeneratedKeys="true" keyProperty="order_id" keyColumn="ORDER_ID">

        INSERT INTO ORDERS (
            ORDER_NO,
            USER_ID,
            ADDRESS_ID,
            PAYMENT_ID,
            TOTAL_PRICE,
            ORDER_STATUS,
            CREATED_AT
        ) VALUES (
                     #{order_no},
                     #{user_id},
                     #{address_id},
                     #{payment_id},
                     #{total_price},
                     DEFAULT,
                     DEFAULT
                 )
    </insert>

    <insert id="insertOrderItems" parameterType="java.util.List">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO ORDER_ITEM (
            ORDER_ID,
            PRODUCT_ID,
            PRODUCT_NAME,  PRODUCT_PRICE, QUANTITY
            ) VALUES (
            #{item.order_id},
            #{item.product_id},
            #{item.prd_name},
            #{item.product_price},
            #{item.quantity}
            )
        </foreach>
        SELECT * FROM DUAL
    </insert>

</mapper>