.productPageWrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0 60px;
}

/* Title + Sort */
.productTitleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0;
}

.productCategoryTitle {
    font-size: 22px;
    font-weight: 600;
}

/* 상품 없음 + 로딩 */
.productLoading {
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
}
.productEmpty{
    text-align: center;
    padding: 40px 0;
    font-size: 17px;
    color: #555;
}