.pageWrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0 60px;
}

/* Title + Sort */
.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.categoryTitle {
    font-size: 22px;
    font-weight: 700;
}

.no-product, .loading {
    padding: 60px;
    text-align: center;
    color: #999;
}
