<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--sort: 생성일, 별점, 추천-->
<mapper namespace="com.review.shop.repository.review.MyPageReviewMapper">

    <select id="SearchMyReviews" resultType="com.review.shop.dto.review.MyPageReviewDTO">
        SELECT
        p.prd_name,
        r.content, r.created_at, r.rating
        u.baumann_id
        FROM review r
        JOIN product p ON r.product_id = p.product_id
        JOIN user_table u on r.user_id = u.user_id
        WHERE r.user_id = #{user_id}

        <if test="keyword != null and keyword != ''">
        AND (p.prd_name LIKE '%', #{keyword}, '%'
            OR r.content LIKE '%', #{keyword}, '%')
        </if>

        <if test="filter_rating > 0">
            AND r.rating &gt;= #{filter_rating}
        </if>

        <choose>
            <when test="sort == 'latest'">
                ORDER BY r.created_at DESC
            </when>
            <when test="sort == 'oldest'">
                ORDER BY r.created_at ASC
            </when>
            <when test="sort == 'rating_highest'">
                ORDER BY r.rating DESC
            </when>
            <when test="sort == 'rating_lowest'">
                ORDER BY r.rating ASC
            </when>
            <when test="sort == 'likes'">
                ORDER BY r.like_count DESC
            </when>
            <otherwise>
                ORDER BY r.created_at DESC
            </otherwise>
        </choose>
    </select>

</mapper>
