<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.repository.address.AddressMapper">

    <select id="selectAddressList" resultType="com.review.shop.dto.address.AddressDTO">
        SELECT
        address_id, user_id, address, detail_address, postal_code,
        address_name, is_default,
        recipient AS recipient_name,
        phone AS phone_number
        FROM address
        WHERE user_id = #{user_id}
        ORDER BY is_default DESC, address_id DESC
    </select>

    <select id="selectAddressDetail" resultType="com.review.shop.dto.address.AddressDTO">
        SELECT
        address_id, user_id, address, detail_address, postal_code,
        address_name, is_default,
        recipient AS recipient_name,
        phone AS phone_number
        FROM address WHERE address_id = #{address_id}
    </select>

    <insert id="insertAddress" parameterType="com.review.shop.dto.address.AddressDTO">
        INSERT INTO address (
        address_id, user_id, recipient, phone,
        postal_code, address, detail_address, is_default, address_name
        ) VALUES (
        SEQ_ADDRESS.NEXTVAL, #{user_id}, #{recipient_name}, #{phone_number},
        #{postal_code}, #{address}, #{detail_address}, #{is_default}, #{address_name}
        )
    </insert>

    <update id="updateAddress" parameterType="com.review.shop.dto.address.AddressDTO">
        UPDATE address
        SET
        recipient = #{recipient_name},
        phone = #{phone_number},
        postal_code = #{postal_code},
        address = #{address},
        detail_address = #{detail_address},
        address_name = #{address_name},
        is_default = #{is_default}
        WHERE address_id = #{address_id}
        AND user_id = #{user_id}
    </update>

    <delete id="deleteAddress">
        DELETE FROM address WHERE address_id = #{address_id} AND user_id = #{user_id}
    </delete>

    <update id="resetDefaultAddress">
        UPDATE address SET is_default = '0' WHERE user_id = #{user_id}
    </update>

</mapper>