<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.repository.search.header.HeaderSearchProductMapper">

    <select id="searchProducts" resultType="com.review.shop.dto.search.header.HeaderSearchProductDTO">
        SELECT p.prd_name, p.prd_brand, p.price, p.rating, p.category, p.description,
               b.type AS baumann_type
        FROM product p
        JOIN baumann b ON p.baumann_id = b.baumann_id
        WHERE (p.prd_name LIKE '%' || #{keyword} || '%'
           OR p.prd_brand LIKE '%' || #{keyword} || '%'
           OR p.ingredient LIKE '%' || #{keyword} || '%'
           OR b.type LIKE '%' || #{keyword} || '%') <!--바우만 타입 관련 연산 추후에 재작성 -->
        and deleted_at is null
        <if test="filter_brand != null and filter_brand != ''">
            AND p.prd_brand = #{filter_brand}
        </if>
        <if test="filter_category != null and filter_category != ''">
            AND p.category = #{filter_category}
        </if>
        <choose>
            <when test="sort == 'latest'"> <!-- 신상품 순 -->
                ORDER BY p.created_at DESC
            </when>
            <when test="sort == 'oldest'">
                ORDER BY p.created_at ASC
            </when>
            <when test="sort == 'rating_highest'">
                ORDER BY p.rating DESC
            </when>
            <when test="sort == 'rating_lowest'">
                ORDER BY p.rating ASC
            </when>
            <otherwise>
                ORDER BY p.created_at DESC
            </otherwise>
        </choose>
    </select>

</mapper>