<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--sort: 생성일, 별점, 추천-->
<mapper namespace="com.review.shop.repository.search.header.HeaderSearchReviewMapper">
    <select id="searchReviews" resultType="com.review.shop.dto.search.header.HeaderSearchReviewDTO">
        SELECT
        r.review_id, r.content, r.rating, r.like_count, r.dislike_count, r.is_selected, r.created_at,
        p.prd_name, p.prd_brand, p.category, p.product_id,
        u.nickname,
        b.type as user_baumann_type,
        ri.image_url
        FROM review r
        LEFT JOIN review_images ri
        ON ri.review_id = r.review_id
        AND ri.review_image_id = (
            SELECT MIN(review_image_id)
            FROM review_images
            WHERE review_id = r.review_id
            )
        JOIN product p ON r.product_id = p.product_id
        JOIN user_table u ON r.user_id = u.user_id
        JOIN baumann b ON u.baumann_id = b.baumann_id
        WHERE (
        r.content LIKE '%' || #{keyword} || '%'
        OR u.nickname LIKE '%' || #{keyword} || '%'
        )
        AND r.deleted_at IS NULL
        <if test="filter_brand != null and filter_brand != ''">
            AND p.prd_brand = #{filter_brand}
        </if>
        <if test="filter_category != null and filter_category != ''">
            AND p.category = #{filter_category}
        </if>
        <choose>
            <when test="sort == 'latest'">
                ORDER BY r.created_at DESC
            </when>
            <when test="sort == 'oldest'">
                ORDER BY r.created_at ASC
            </when>
            <when test="sort == 'rating_highest'">
                ORDER BY r.rating DESC
            </when>
            <when test="sort == 'rating_lowest'">
                ORDER BY r.rating ASC
            </when>
            <when test="sort == 'likes'">
                order by r.like_count DESC
            </when>
            <otherwise>
                ORDER BY r.created_at DESC
            </otherwise>
        </choose>

    </select>

</mapper>