<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.repository.userinfo.user_related.CartMapper">

    <!-- 장바구니 조회 -->
    <select id="findCartItemsByUserId" resultType="com.review.shop.dto.cart.CartitemResponseDTO">
        SELECT
        c.cart_items_id,
        c.product_id,
        c.quantity,
        p.prd_name,
        p.prd_brand,
        p.price,
        p.category,
        p.is_sold_out,
        pi.image_url
        FROM cart_items c
        JOIN product p ON c.product_id = p.product_id

        LEFT JOIN product_image pi
        ON p.product_id = pi.product_id
        AND pi.is_thumbnail = 'Y'

        WHERE c.user_id = #{user_id}
        AND p.deleted_at IS NULL
    </select>

    <!-- 단일 상품 조회 (수량 변경 시 확인용) -->
    <select id="findCartItemByUserIdAndProductId" resultType="com.review.shop.dto.cart.CartitemResponseDTO">
        SELECT cart_items_id, product_id, quantity
        FROM cart_items
        WHERE user_id = #{user_id}
        AND product_id = #{product_id}

    </select>

    <!-- 장바구니 추가 -->
    <insert id="insertCartItem">
        INSERT INTO cart_items (cart_items_id, user_id, product_id, quantity)
        VALUES (CART_ITEMS_SEQ.NEXTVAL, #{user_id}, #{product_id}, #{quantity})
    </insert>

    <!-- 수량 변경 -->
    <update id="updateCartItemQuantity">
        UPDATE cart_items
        SET quantity = #{quantity}
        WHERE user_id = #{user_id} AND product_id = #{product_id}
    </update>

    <!-- 삭제 -->
    <delete id="deleteCartItem">
        DELETE FROM cart_items
        WHERE user_id = #{user_id} AND product_id = #{product_id}
    </delete>

</mapper>