.productCategoryTabs {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}

.productCategoryTab {
    background: #efefef;
    border-radius: 999px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
}

.productCategoryTab.active {
    background: #111;
    color: white;
    border-color: #111;
}
