.filter-line {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.filter-title {
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
}

.filter-items {
    display: flex;
    gap: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    max-width: 100%;
}

.filter-item {
    cursor: pointer;
    font-size: 14px;
}

.filter-item.active {
    color: red;
    font-weight: 600;
}
