.reviewPageWrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0 60px;
}

/* 카테고리 탭과 동일하게 */
.reviewTitleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}

.reviewCategoryTitle {
    font-size: 22px;
    font-weight: 600;
}


/* 로딩 */
.reviewLoading,
.reviewEmpty{
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
    color: #555;
}


