<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.repository.admin.AdminProductMapper">
    <insert id="insertProduct" parameterType="com.review.shop.dto.product.ProductDetailWithThumbnailDTO"
            useGeneratedKeys="true"
            keyProperty="product_id"
            keyColumn="PRODUCT_ID">
        INSERT INTO PRODUCT (
            PRD_NAME, PRD_BRAND, INGREDIENT, PRICE, CATEGORY,
            STOCK, RATING, REVIEW_COUNT, BAUMANN_ID, IS_SOLD_OUT
        )
        VALUES (
                   #{prd_name},
                   #{prd_brand},
                   #{ingredient},
                   #{price},
                   #{category},
                   #{stock},
                   #{rating},
                   #{review_count},
                   #{baumann_id},
                     #{is_sold_out}
               )
    </insert>

    <update id="deleteProduct">
        UPDATE PRODUCT
        SET DELETED_AT = SYSDATE
        WHERE PRODUCT_ID = #{product_id}
    </update>

    <select id="getAllProducts" resultType="ProductDetailWithThumbnailDTO">
        SELECT
            P.PRODUCT_ID, P.PRD_NAME, P.PRD_BRAND, P.INGREDIENT, P.PRICE,
            P.CATEGORY, P.STOCK, P.RATING, P.REVIEW_COUNT,
            P.BAUMANN_ID, P.IS_SOLD_OUT, P.CREATED_AT, P.UPDATED_AT, P.DELETED_AT,
            PI.IMAGE_URL AS THUMBNAIL_URL
        FROM
            PRODUCT P
                LEFT JOIN
            PRODUCT_IMAGE PI
            ON P.PRODUCT_ID = PI.PRODUCT_ID
                AND PI.IS_THUMBNAIL = 'Y'
        WHERE
            P.DELETED_AT IS NULL
        ORDER BY
            P.PRODUCT_ID ASC, PI.PRD_IMG_ID ASC
    </select>

    <select id="readProduct" resultType="com.review.shop.dto.product.ProductDetailWithThumbnailDTO">
        SELECT
            PRODUCT_ID, PRD_NAME, PRD_BRAND, INGREDIENT, PRICE, CATEGORY,
            STOCK, RATING, DESCRIPTION, REVIEW_COUNT, BAUMANN_ID, IS_SOLD_OUT
        FROM PRODUCT
        WHERE PRODUCT_ID = #{product_id}
    </select>

    <insert id="insertProductImage">
        INSERT INTO PRODUCT_IMAGE (
            PRODUCT_ID,
            IMAGE_URL,
            IS_THUMBNAIL
        )
        VALUES (
                   #{product_id},
                   #{image},
                #{is_thumbnail}
               )
    </insert>

    <select id="readImage" parameterType="int" resultType="String">
        SELECT
            IMAGE_URL
        FROM
            PRODUCT_IMAGE
        WHERE
            PRODUCT_ID = #{product_id} AND IS_THUMBNAIL = 'Y'
        ORDER BY
            PRD_IMG_ID ASC
    </select>

    <!-- 삭제 -->
    <delete id="deleteProductImages">
        DELETE FROM PRODUCT_IMAGE WHERE PRODUCT_ID = #{product_id}
    </delete>


    <select id="getProductInfo" parameterType="_int" resultType="com.review.shop.dto.product.ProductUploadDTO">
        SELECT
            /* 1. 이미지 서브쿼리 */
            (SELECT IMAGE_URL
             FROM PRODUCT_IMAGE
             WHERE PRODUCT_ID = p.PRODUCT_ID
               AND IS_THUMBNAIL = 'Y')        AS thumbnail_image,

            (SELECT IMAGE_URL
             FROM PRODUCT_IMAGE
             WHERE PRODUCT_ID = p.PRODUCT_ID
               AND IS_THUMBNAIL = 'N'
               AND ROWNUM = 1)                AS detail_image,

            /* 2. PRODUCT 테이블 컬럼 -> ProductUpdateOnlyPrdInfoDTO 매핑 */
            p.PRODUCT_ID      AS "product.product_id",
            p.PRD_NAME        AS "product.prd_name",
            p.PRD_BRAND       AS "product.prd_brand",
            p.INGREDIENT      AS "product.ingredient",  /* CLOB -> String 자동매핑 */
            p.PRICE           AS "product.price",
            p.CATEGORY        AS "product.category",
            p.STOCK           AS "product.stock",
            p.RATING          AS "product.rating",
            p.DESCRIPTION     AS "product.description", /* CLOB -> String 자동매핑 */
            p.REVIEW_COUNT    AS "product.review_count",
            p.BAUMANN_ID      AS "product.baumann_id",
            p.IS_SOLD_OUT     AS "product.is_sold_out"  /* CHAR '0' -> int 0 자동변환 */

        FROM PRODUCT p
        WHERE p.PRODUCT_ID = #{productId}
    </select>

    <update id="updateProduct">
        UPDATE PRODUCT
        SET
            PRD_NAME     = #{product.product.prd_name},
            PRD_BRAND    = #{product.product.prd_brand},
            INGREDIENT   = #{product.product.ingredient},
            PRICE        = #{product.product.price},
            CATEGORY     = #{product.product.category},
            STOCK        = #{product.product.stock},
            RATING       = #{product.product.rating},
            DESCRIPTION  = #{product.product.description},
            REVIEW_COUNT = #{product.product.review_count},
            BAUMANN_ID   = #{product.product.baumann_id},
            IS_SOLD_OUT  = #{product.product.is_sold_out},
            UPDATED_AT   = SYSDATE
        WHERE PRODUCT_ID = #{product_id}
    </update>



</mapper>