<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.repository.admin.AdminProductMapper">
    <resultMap id="productDetailCollectionMap" type="com.review.shop.dto.product.ProductDetailDTO">
        <id property="product_id" column="PRODUCT_ID"/>

        <result property="prd_name" column="PRD_NAME"/>
        <result property="prd_brand" column="PRD_BRAND"/>
        <result property="ingredient" column="INGREDIENT"/>
        <result property="price" column="PRICE"/>
        <result property="category" column="CATEGORY"/>
        <result property="stock" column="STOCK"/>
        <result property="rating" column="RATING"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="review_count" column="REVIEW_COUNT"/>
        <result property="baumann_id" column="BAUMANN_ID"/>
        <result property="is_sold_out" column="IS_SOLD_OUT"/>
        <collection property="product_images" ofType="String">
            <result column="IMAGE_URL" />
        </collection>
    </resultMap>

    <insert id="insertProduct" parameterType="com.review.shop.dto.product.ProductDetailDTO"
            useGeneratedKeys="true"
            keyProperty="product_id"
            keyColumn="PRODUCT_ID">
        INSERT INTO PRODUCT (
            PRD_NAME, PRD_BRAND, INGREDIENT, PRICE, CATEGORY,
            STOCK, RATING, DESCRIPTION, REVIEW_COUNT, BAUMANN_ID, IS_SOLD_OUT
        )
        VALUES (
                   #{prd_name},
                   #{prd_brand},
                   #{ingredient},
                   #{price},
                   #{category},
                   #{stock},
                   #{rating},
                   #{description},
                   #{review_count},
                   #{baumann_id},
                     #{is_sold_out}
               )
    </insert>

    <update id="updateProduct">
        UPDATE PRODUCT
        SET
            PRD_NAME      = #{product.prd_name},
            PRD_BRAND     = #{product.prd_brand},
            INGREDIENT    = #{product.ingredient},
            PRICE         = #{product.price},
            CATEGORY      = #{product.category},
            STOCK         = #{product.stock},
            RATING        = #{product.rating},
            DESCRIPTION   = #{product.description},
            REVIEW_COUNT  = #{product.review_count},
            BAUMANN_ID    = #{product.baumann_id},
            IS_SOLD_OUT   = #{product.is_sold_out},
            UPDATED_AT    = SYSDATE
        WHERE
            PRODUCT_ID    = #{product_id}
    </update>

    <update id="deleteProduct">
        UPDATE PRODUCT
        SET DELETED_AT = SYSDATE
        WHERE PRODUCT_ID = #{product_id}
    </update>

    <select id="getAllProducts" resultMap="productDetailCollectionMap">
        SELECT
            P.PRODUCT_ID, P.PRD_NAME, P.PRD_BRAND, P.INGREDIENT, P.PRICE, P.CATEGORY, P.STOCK, P.RATING, P.DESCRIPTION, P.REVIEW_COUNT,
            P.BAUMANN_ID, P.IS_SOLD_OUT, P.CREATED_AT, P.UPDATED_AT, P.DELETED_AT,
            PI.IMAGE_URL
        FROM
            PRODUCT P
                LEFT JOIN
            PRODUCT_IMAGE PI ON P.PRODUCT_ID = PI.PRODUCT_ID  WHERE
            P.DELETED_AT IS NULL
        ORDER BY
            P.PRODUCT_ID ASC, PI.PRD_IMG_ID ASC
    </select>

    <select id="readProduct" resultType="com.review.shop.dto.product.ProductDetailDTO">
        SELECT
            PRODUCT_ID, PRD_NAME, PRD_BRAND, INGREDIENT, PRICE, CATEGORY,
            STOCK, RATING, DESCRIPTION, REVIEW_COUNT, BAUMANN_ID, IS_SOLD_OUT
        FROM PRODUCT
        WHERE PRODUCT_ID = #{product_id}
    </select>

    <insert id="insertProductImage">
        INSERT INTO PRODUCT_IMAGE (
            PRODUCT_ID,
            IMAGE_URL,
            IS_THUMNAIL
        )
        VALUES (
                   #{product_id},
                   #{image},
                     #{is_thumbnail}
               )
    </insert>

    <select id="readImage" parameterType="int" resultType="String">
        SELECT
            IMAGE_URL
        FROM
            PRODUCT_IMAGE
        WHERE
            PRODUCT_ID = #{product_id}
        ORDER BY
            PRD_IMG_ID ASC
    </select>

    <!-- 삭제 -->
    <delete id="deleteProductImages">
        DELETE FROM PRODUCT_IMAGE WHERE PRODUCT_ID = #{product_id}
    </delete>


    <update id="updateAllImagesToNo" parameterType="int">
        UPDATE PRODUCT_IMAGE
        SET IS_THUMBNAIL = 'N'
        WHERE PRODUCT_ID = #{product_id}
    </update>

</mapper>