<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.repository.qna.QnaMapper">

    <select id="selectQnaListByProductId" resultType="com.review.shop.dto.qna.QnaListResponseDTO">
        SELECT
        q.qna_id,
        p.prd_name,
        q.title,
        q.created_at,
        CASE
        WHEN q.answer IS NOT NULL THEN '답변완료'
        ELSE '답변대기'
        END AS status
        FROM qna q
        JOIN PRODUCT p ON q.product_id = p.product_id
        WHERE q.product_id = #{product_id}
        AND q.deleted_at IS NULL
        ORDER BY q.created_at DESC
    </select>

    <select id="selectQnaDetail" resultType="com.review.shop.dto.qna.QnaDTO">
        SELECT q.*, u.name AS user_name
        FROM qna q
        JOIN USER_TABLE u ON q.user_id = u.user_id
        WHERE q.qna_id = #{qna_id}
    </select>

    <insert id="insertQna" parameterType="com.review.shop.dto.qna.QnaDTO">
        INSERT INTO qna (
        qna_id, product_id, user_id, title, content, created_at
        ) VALUES (
        SEQ_QNA.NEXTVAL, #{product_id}, #{user_id}, #{title}, #{content}, SYSDATE
        )
    </insert>

    <update id="updateQna" parameterType="com.review.shop.dto.qna.QnaDTO">
        UPDATE qna
        SET title = #{title},
        content = #{content}
        WHERE qna_id = #{qna_id}
        AND user_id = #{user_id}
    </update>

    <update id="deleteQna">
        UPDATE qna
        SET deleted_at = SYSDATE
        WHERE qna_id = #{qna_id}
        AND user_id = #{user_id}
    </update>


    <select id="selectQnaListByUserId" parameterType="int" resultType="com.review.shop.dto.qna.QnaListResponseDTO">
        SELECT
        q.qna_id,
        p.prd_name,
        q.title,
        q.created_at,
        CASE
        WHEN q.answer IS NOT NULL THEN '답변완료'
        ELSE '답변대기'
        END AS status
        FROM qna q
        JOIN product p ON q.product_id = p.product_id
        WHERE q.user_id = #{user_id}
        ORDER BY q.created_at DESC
    </select>

</mapper>