<mapper namespace="com.review.shop.repository.search.CommonSearchReviewMapper">

    <select id="searchReviews" resultType="com.review.shop.dto.search.CommonSearchReviewDTO">
        <!--기본 검색 결과 -->
        SELECT content, rating
        FROM review
        WHERE content LIKE CONCAT('%', #{keyword}, '%')
        <!--필터링 구현 ( 아직 미구현 )-->
        <if test="filter != null and filter != ''">
            AND rating &gt;= #{filter}
        </if>

        <!--정렬 구현-->
        <choose>
            <when test="sort == 'latest'">
                ORDER BY created_at DESC
            </when>
            <when test="sort == 'oldest'">
                ORDER BY created_at ASC
            </when>
            <when test="sort == 'rating_highest'">
                ORDER BY rating DESC
            </when>
            <when test="sort == 'rating_lowest'">
                Order BY rating ASC
            </when>
            <otherwise>
                ORDER BY created_at DESC
            </otherwise>
        </choose>
    </select>

</mapper>
