<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.repository.AdminMapper">

    <insert id="insertProduct" parameterType="com.review.shop.dto.ProductDetailDTO"
            useGeneratedKeys="true">
        INSERT INTO PRODUCT (
            PRD_NAME,
            PRD_BRAND,
            INGREDIENT,
            PRICE,
            CATEGORY,
            STOCK,
            RATING,
            DESCRIPTION,
            REVIEW_COUNT,
            BAUMANN_ID
        )
        VALUES (
                   #{prdName},
                   #{prdBrand},
                   #{ingredient},
                   #{price},
                   #{category},
                   #{stock},
                   #{rating},
                   #{description},
                   #{reviewCount},
                   #{baumannId}
               )
    </insert>

    <update id="updateProduct">
        UPDATE PRODUCT
        SET
            PRD_NAME = #{product.prdName},
            PRD_BRAND = #{product.prdBrand},
            INGREDIENT = #{product.ingredient},
            PRICE = #{product.price},
            CATEGORY = #{product.category},
            STOCK = #{product.stock},
            RATING = #{product.rating},
            DESCRIPTION = #{product.description},
            REVIEW_COUNT = #{product.reviewCount},
            BAUMANN_ID = #{product.baumannId},
            IS_SOLD_OUT = #{product.isSoldOut},
            UPDATED_AT = SYSDATE
        WHERE
            PRODUCT_ID = #{productId}
    </update>

    <update id="deleteProduct">
        UPDATE PRODUCT
        SET DELETED_AT = SYSDATE
        WHERE PRODUCT_ID = #{productId}
    </update>

    <update id="updateOrderStatus">
        UPDATE ORDERS SET
                          ORDER_STATUS = #{orderStatus},
                          UPDATED_AT = SYSDATE
        WHERE
            ORDER_ID = #{orderId}
    </update>

    <update id="updateQnaAnswer">
        UPDATE QNA SET
                       ADMIN_ANSWER = #{adminAnswer},
                       ANSWERED_AT = SYSDATE, QNA_STATUS = 'ANSWERED' WHERE
            QNA_ID = #{qnaId}
    </update>

    <select id="getMemberPoints" resultType="java.lang.Integer">
        SELECT POINT FROM USER_TABLE WHERE USER_ID = #{memberId}
    </select>

</mapper>