<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.repository.Orders.OrderMapper">

    <select id="getProductsByIds" resultType="com.review.shop.dto.orders.OrderCheckoutProductInfoDTO">
        SELECT
        p.PRODUCT_ID   AS product_id,
        pi.IMAGE_URL   AS image_url,
        p.PRD_NAME     AS prd_name,
        p.PRICE        AS price
        FROM PRODUCT p
        LEFT JOIN PRODUCT_IMAGE pi ON p.PRODUCT_ID = pi.PRODUCT_ID
        WHERE p.PRODUCT_ID IN
        <foreach collection="productIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getUserPoint" resultType="integer">
        SELECT POINT
        FROM USER_TABLE
        WHERE USER_ID = #{userId}
    </select>

</mapper>