<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.userinfo.other.Payment_MethodMapper">
    <select id="getPayments" resultType="com.review.shop.userinfo.other.Payment_MethodDTO>">
        SELECT * FROM payment_methods
        where user_id = #{user_id}
    </select>

    <select id="existsPayment" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM Payment_Methods
        WHERE user_id = #{user_id}
          AND card_number = #{card_number}
    </select>

    <insert id="addPayment">
        INSERT INTO payment_methods (USER_ID, card_company, card_number)
        VALUES (#{user_id}, #{card_company}, #{card_number})
    </insert>

    <update id="checkDefaultPayment">
        UPDATE Payment_Methods
        Set is_default = 0
        Where user_id = #{user_id}
        And is_default = 1

        Update Payment_Methods
        Set is_default = 1
        Where user_id = #{user_id}
        And payment_id = #{payment_id}
    </update>

   <delete id="deletePayments" >
        delete from payment_methods
        Where user_id = #{user_id}
        And payment_id = #{payment_id}
   </delete>
</mapper>