<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.shop.repository.userinfo.user_related.PointMapper">

    <!-- 포인트 히스토리 추가 -->
    <insert id="aboutPoint" parameterType="com.review.shop.dto.userinfo.user_related.Point.PointHistoryDTO">
        INSERT INTO point_history (
            user_id, amount, type, created_at, description
        )
        VALUES (
                   #{dto.user_id}, #{dto.amount}, #{dto.type}, SYSDATE, #{dto.description}
               )

    </insert>
    <update id="updateUserPoint" parameterType="com.review.shop.dto.userinfo.user_related.Point.PointHistoryDTO">
        UPDATE user_table
        SET point = point
        <choose>
            <when test="dto.type == 'EARN'">
                + #{dto.amount}
            </when>
            <when test="dto.type == 'USE'">
                - #{dto.amount}
            </when>
            <otherwise>
                <!-- 아무 변화가 없게 함-->
            </otherwise>
        </choose>
        WHERE user_id = #{dto.user_id}

    </update>
    <!-- 특정 사용자 포인트 내역 전체 조회 -->
    <select id="getPointHistoryByUserId" resultType="com.review.shop.dto.userinfo.user_related.Point.PointResponseDTO">
        SELECT
            point_history_id, user_id, amount, type, created_at, description
        FROM point_history
        WHERE user_id = #{user_id}
        ORDER BY created_at DESC
    </select>

    <!-- 사용자 총 포인트 조회 (EARN - USE) -->
    <select id="getTotalPoint" resultType="int">
        SELECT POINT
        FROM USER_TABLE
        WHERE USER_ID = #{user_id}
    </select>

<!--    &lt;!&ndash; 베스트 리뷰 포인트 중복 체크 예시&ndash;&gt;-->
<!--    <select id="existsBestReviewPoint" resultType="boolean">-->
<!--        SELECT COUNT(1) > 0-->
<!--        FROM best_review_point_reference-->
<!--        WHERE review_id = #{review_id}-->
<!--    </select>-->

<!--    &lt;!&ndash; 베스트 리뷰 포인트 reference 추가 예시&ndash;&gt;-->
<!--    <insert id="insertBestReviewPointReference">-->
<!--        INSERT INTO best_review_point_reference (review_id, user_id)-->
<!--        VALUES (#{review_id}, #{user_id})-->
<!--    </insert>-->

</mapper>
